<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Center>
    <style>
        body{
           background-color:#77b5fd6c;
           margin-top:0px;
           margin-left:0px;
        }
     </style>
    <Span style="color: rgb(80, 20, 220);"><h1>PREDICTION</h1></Span>
    <br>
    <br>
    <h1>{{result}}</h1>
    </Center>
</body>
</html>
